<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro Empleados - Galletas y postres</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f9;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .form_container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #091324;
            padding: 20px;
        }
        .table-primary {
            --bs-table-bg: #0d3039;
            --bs-table-color: whitesmoke;
        }

        .table-container {
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #091324;
        }

        .header-title {
            font-size: 28px;
            color: #0d6efd;
            text-align: center;
            margin-bottom: 20px;
            background-color: #0d3039;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #0d3039;
            color: whitesmoke;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }


            .btn-primary:hover {
                background-color: #091021;
            }

        .text-principal {
            color: #8deaf4;
        }

        .alert-danger {
            border-radius: 8px;
        }
        .form-label{
            color:whitesmoke;
        }
        .user_card {
            background-color: #091021;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
                  
        <div class="row justify-content-center">
          
            <div class="col-lg-8 col-md-12">
                <h2 class="text-principal">Registrar Empleados</h2>
                <div class="row form_container">
                    <form action='@Url.Action("SignUpEmployees", "User")' method="post">

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" name="FirstName" class="form-control" placeholder="Nombre" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Documento</label>
                                    <input type="text" name="Document" class="form-control" placeholder="Documento" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Dirección</label>
                                    <input type="text" name="Address" class="form-control" placeholder="Dirección">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Ciudad</label>
                                    <input type="text" name="City" class="form-control" placeholder="Ciudad">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">ARL</label>
                                    <input type="text" name="Arl" class="form-control" placeholder="ARL" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Cargo</label>
                                    <input type="text" name="Position" class="form-control" placeholder="Cargo" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Apellido</label>
                                    <input type="text" name="LastName" class="form-control" placeholder="Apellido" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Teléfono</label>
                                    <input type="text" name="Phone" class="form-control" placeholder="Teléfono" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Departamento</label>
                                    <input type="text" name="Department" class="form-control" placeholder="Departamento">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Correo Electrónico</label>
                                    <input type="email" name="Email" class="form-control" placeholder="Correo Electrónico (gmail.com)">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">EPS</label>
                                    <input type="text" name="Eps" class="form-control" placeholder="EPS" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label mt-3">Rol</label>
                                    <select name="IdRole" class="form-control">
                                        <option value="1">Usuario</option>
                                        <option value="2">Empleado</option>
                                        <option value="3">Analista</option>
                                        <option value="4">Repartidor</option>
                                        <option value="5">Asistente Administrativo</option>
                                        <option value="6">Administrador</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label mt-3">Contraseña</label>
                                <input type="password" name="Password" class="form-control" placeholder="Contraseña" required>
                                <label class="form-label mt-3">Verificar Contraseña</label>
                                <input type="password" name="VerifyPassword" class="form-control" placeholder="Verificar Contraseña" required>
                            </div>
                        </div>


                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger mt-3">@ViewData["Mensaje"]</div>
                        }

                        <button type="submit" class="btn-primary w-100 mt-4">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
                </div>

            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
