
@{
    ViewBag.Title = "Edit"; 
    Layout = "~/Views/Shared/_LayoutAsistente.cshtml";
}
@model TecnoSolutions.Dtos.Product

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-6 col-md-8">
        <div class="card login-card">
            <div class="card-body">
                <h2 class="text-center text-principal mb-4">Editar Producto</h2>
                <form asp-action="Edit" method="post">
                    <div class="mb-3">
                        <label for="Name" class="form-label text-light">Nombre del Producto</label>
                        <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="Stock" class="form-label text-light">Stock</label>
                        <input type="number" id="Stock" name="Stock" value="@Model.Stock" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="UnitPrice" class="form-label text-light">Precio Unitario</label>
                        <input type="text" id="UnitPrice" name="UnitPrice" value="@Model.UnitPrice" class="form-control">
                    </div>
                    <input type="hidden" name="IdProduct" value="@Model.IdProduct">
                    <button type="submit" class="btn btn-primary w-100">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #7c8f97;
    }

    .login-card {
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 30px;
        background-color: #091324;
    }

    .text-principal {
        color: #8deaf4;
    }

    .btn-primary {
        background-color: #0d3039;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
    }

        .btn-primary:hover {
            background-color: #091021;
        }
</style>
